body {
    background-color:rgb(54, 54, 56)
}

.intro {
    text-align: center;
    background-color: rgb(133, 172, 157);
    border: 2px solid salmon;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 150px;
    margin-left: 80px;
}

h1 {
    text-align: center;
    font-size: 100px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

p {
    text-align: center;
    font-family: "Times New Roman", Times, serif;;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #87e9d4;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: azure;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid salmon;
  }

  #outro {
    background-color: azure;
  }